
.visitHistories {
    padding: 3rem;
}

.visitHistories>h1{
    color: var(--green);
    font-family: var(--font-mono);
    display: flex;

    /* justify-content: center; */
    align-items: center;

}
.visitHistories>h1::after{
    content: '';
    display: block;
    background-color: var(--green);
    width: 10rem;
    height: 3px;
    border-radius: 1rem;
    margin-left: 0.5rem;
}



.MuiTableRow-head > th {
    background-color: #A997DF;;
}


/* popup css  */

.visit_popup {
    height: 30vh;
        width: 60%;
    position: fixed;
    background: rgba(255, 255, 255, 0.35);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
    left: 25%;
    top: 30%;
    z-index: 500;
    display: grid;
    grid-template-rows: 3fr 2fr 3fr;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
    font-family: sans-serif;
    font-size: 1.1rem;
}

.visit_popup_head{
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin: 1rem; */
}
.visit_popup_head>p:last-child {
    display: flex;
    justify-content: flex-end;
}

.visit_popup > p:last-child{
    grid-column: 1/3;
}

.fright {
    display: flex;
    justify-content: flex-end;
}

.visit_popup_wrapper{
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

